# Dependencies
node_modules

# Caching
/.cache

# Build artifacts
.react-router/
/build
/dist
vite.config.ts.timestamp*
*.tsbuildinfo

# Environment
*.env
!example.env

# Testing
/blob-report/
/playwright/.auth
/playwright/.cache/
/playwright-report/
/test-results/
