# Dependencies
node_modules

# Caching
/.cache

# Build artifacts
/build
/dist
vite.config.ts.timestamp*

# Environment
*.env
!example.env

# Testing
/blob-report/
/playwright/.auth
/playwright/.cache/
/playwright-report/
/test-results/
